* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkblue;
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    color: white;
    background: blue;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}

.calculator span:active {
    background: cadetblue;
    color: black;
}

.calculator span.clear {
    grid-column: span 2 ;
    width: 120px;
    background: pink;
}

.calculator span.plus {
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal {
    background: powderblue;
}